@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    background-color: #ffffff;
    margin: 0px;
    font-family: "Open Sans";
    font-size: 16px;
    color: #6f6f6f;
    margin-top: 5px;
}
/*--------------------------*/
.mainpopbg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1001;
    margin: 0 auto;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #000000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    color: #ffffff;
}

.popup {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    position: absolute;
    z-index: 10002;
}

.popcontent {
    width: 700px;
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
    top: 10px;
    display: table;
}



/*
input[type="checkbox"]{
	margin-right:15px;
	vertical-align:middle;
	margin-top:-1px;
}*/

input[type="radio"],
input[type="checkbox"] {
    display: none;
}


label:before {
    content: " ";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    border: 1px solid #cccccc;
    left: 30px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #009cdf;
    font-size: 34px;
    text-align: center;
    line-height: 16px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);*/
    font-size: 15px;
    color: #009cdf;
    font-weight: bolder;
    text-align: center;
    line-height: 15px;
    font-weight: normal;
    left: 0px;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

.radio label:before {
    border-radius: 100%;
}

.checkbox1 label {
    margin-bottom: 10px;
}

.checkbox1 {
    margin-bottom: 10px;
    margin-left: 0px;
}

/*--------------------------*/

.celltablecontainer {
    display: table;
    width: 98%;
    margin-left: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    position: relative;
    vertical-align: middle;
}


.tr1 {
    display: table-row;
}

.td1 {
    display: table-cell;
    padding-right: 4px;
}


.td1adjustwidth {
    display: table-cell;
    width: 37%;
}

.tdtextpadding {
    padding-bottom: 3px;
    padding-left: 10px;
    display: block;
    font-family: "Open Sans";
    font-size: 14px;
    color: #000000;
    font-weight: normal;
}

.td1table {
    display: table;
    vertical-align: middle;
}


.td1td1 {
    position: absolute;
    top: 50px;
    z-index: 10001 width:100%;
}


.td1td2 {
    position: absolute;
    top: 50px;
    display: table-cell;
    margin-left: 30px;
}

.absolutediv {
    position: absolute;
    width: 105%;
    left: 0;
    top: 50px;
}









/*--------------------------*/
input[type="text"] {
    width: 65%;
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    moz-border-radius: 5px;
    -webkit-appearance: none;
    outline: none;
    border: solid 1px #d8d8d8;
    color: #bfbfbf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

    input[type='text']:focus {
        border: solid 2px #009cdf;
    }

    input[type='text'].errorfield {
        border: solid 2px #d5271d;
    }


.textncombo {
    margin-bottom: 5px;
    padding-left: 12px;
}


.marginright {
    margin-right: 10px;
    padding: 1px;
}

.marginheight {
    height: 10px;
}





.errortablemain {
    display: table-row;
}

.errortexttable {
    display: table-cell;
    padding-left: 10px;
}

.errortext {
    display: table;
    width: 64%;
    font-size: 12px;
    color: #d5271d;
}

.errortxt16pxbold {
    font-size: 16px;
    color: #d5271d;
    font-weight: bold;
}

/*
.combostyle{
	-webkit-border-radius:5px;
	moz-border-radius:5px;
	border-radius:5px;
	border:solid 2px #cccccc;
	border:1px solid #cccccc;
    outline:none;
    display: inline-block;
	cursor:pointer;
	width:40%;
	padding:7px;
	border:radius:15px;
	color:#bfbfbf;
}
.combostyle1{
	-webkit-border-radius:5px;
	moz-border-radius:5px;
	border-radius:5px;
	border:solid 2px #cccccc;
	border:1px solid #cccccc;
    outline:none;
    display: inline-block;
	cursor:pointer;
	width:68%;
	padding:7px;
	color:#bfbfbf;
	border:radius:15px;
}








*/


.combostyle {
    width: 40%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    moz-border-radius: 5px;
    outline: none;
    border: solid 1px #d8d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    padding: 7px;
    padding-top: 10px;
    background: url("../images/comboarrow.png") no-repeat right center;
    background-position: calc(100% - 7px);
    -moz-appearance: window;
    -moz-appearance: none;
    -moz-appearance: textfield;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.combostyle1 {
    width: 68%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    moz-border-radius: 5px;
    outline: none;
    border: solid 1px #d8d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 7px;
    background: url("../images/comboarrow.png") no-repeat right center;
    background-position: calc(100% - 7px);
    color: #bfbfbf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}




.combostyle2date {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 5px;
    moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px;
    margin: 0;
    margin-right: 3px;
    color: #bfbfbf;
    background: url("../images/comboarrow.png") no-repeat right center;
    background-position: calc(100% - 7px);
    outline: none;
    border: solid 1px #d8d8d8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


.comboselected {
    font-family: "Open Sans";
    font-size: 14px;
    color: #000000;
    font-weight: normal;
    -moz-appearance: none;
}





.combostylerow {
    margin-top: -20px;
    display: table;
    padding: 5px 0px 5px 0px;
    width: 100%;
}


.daterow {
    display: table-cell;
    padding-left: 10px;
}




.leftpadding {
    padding-left: 30px;
}

.lineheight {
    height: 35px;
}

div.main {
    width: 1024px;
    margin: 0 auto;
    padding: 0px;
    background-color: #fff;
}


li a.langpadding {
    padding: 20px;
}


.bluenonbold14pxlink {
    font-family: "Open Sans";
    font-size: 14px;
    color: #009cdf;
    text-decoration: underline;
    font-weight: normal;
}

div.menudiv {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    background-color: #000;
}

ul#ulcode {
    width: 1024px;
    ;
    margin: 0 auto;
    padding: 0px;
    list-style-type: none;
    background-color: #ffffff;
    display: table;
}

    ul#ulcode li.listspan {
        list-style: none;
        background-color: #d1d3d8;
        width: 25%;
        display: table-cell;
        border-right: solid 2px #ffffff;
        border-left: solid 2px #d1d3d8;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
    }

li.listspan.navselected {
    width: 25%;
}



#ulcode li.navprev.listspan {
    background-color: #000000;
    border-left: solid 2px #ffffff;
}

#ulcode li.navprev1.listspan {
    background-color: #000000;
    border-left: solid 2px #000000;
}




li.listspan a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}

.menudiv, ul li.menufont {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}


ul#ulcode li.navselected1.listspan {
    background-color: #ff8201;
    border-left: solid 2px #ffffff;
}

ul#ulcode li.navselected {
    background-color: #ff8201;
    border-left: solid 2px #ff8201;
}



.contentcol1 {
    width: 72.5%;
    display: inline-block;
    padding-left: 20px;
}

.contentheader {
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    padding: 10px 0px 5px 0px;
}

.contentheader1 {
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    padding: 10px 0px 5px 0px;
    margin-top: 30px;
}

.contentheader img {
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 10px;
}


.poprow {
    display: table-row;
}

.popheader {
    display: table-cell;
    width: 100%;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}


    .popheader img {
        vertical-align: middle;
        display: table-cell;
        float: right;
        padding-top: 10px;
        padding-right: 30px;
    }


.popcontent1 {
    display: table;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.popcontent2 {
    display: table;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin: 0px;
}

#popUpDiv {
    display: none;
    top: 0;
    top: 100px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 1024;
}

#popUpDiv1 {
    display: none;
    top: 0;
    top: 100px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 1024;
}

#popUpDiv2 {
    display: none;
    top: 100px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 1024;
}


.popicons {
    display: table-cell;
    position: relative;
    text-align: center;
    vertica-align: top;
    width: 20%;
}



.contentcol2 {
    width: 17.5%;
    display: inline-block;
    margin-left: 20px;
    top: 192px;
    position: absolute;
}

.checkintable {
    border: solid 1px #d8d8d8;
    padding: 10px;
}


div.tablerow {
    width: 100%;
    position: relative;
    display: table;
    height: 75px;
}







.commonrow {
    display: table;
    padding: 0px 0px 0px 0px;
    border-top: solid 1px #d8d8d8;
    width: 100%;
    -moz-box-sizing: border-box;
}

.commonrow1 {
    padding: 0px 0px 0px 0px;
    border-top: solid 1px #d8d8d8;
    width: 100%;
}


.commonrowborderbottom {
    display: table;
    padding: 0px 0px 0px 0px;
    border-top: solid 1px #d8d8d8;
    width: 100%;
    border-bottom: solid 1px #d8d8d8;
}



.commonrowborderless {
    display: table;
    padding: 10px 0px 10px 0px;
    width: 100%;
}


.commonrowborderless1 {
    display: table;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

.commonrowborderless2 {
    display: table;
    padding: 0px;
    position: relative;
    width: 100%;
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Open Sans";
    font-size: 16px;
    color: #000000;
}

.tickmark {
    background: url('../images/tickmark.png')no-repeat;
    margin: 0px;
    width: 20px;
    padding-right: 20px;
    vertical-align: middle;
}

.crossmark {
    background: url('../images/crossmark.png')no-repeat;
    margin: 0px;
    width: 20px;
    padding-right: 20px;
    vertical-align: middle;
}


.iconandtext {
    vertical-align: middle;
    padding: 5px;
    margin: 0px;
    margin-left: -15px;
    font-family: "Open Sans";
    font-size: 12px;
    color: #6f6f6f;
    font-weight: bold;
}

    .iconandtext img {
        vertical-align: middle;
        margin-top: -5px;
        padding-left: 5px;
        padding-right: 5px;
    }


.commoncell1 {
    display: table-cell;
    font-family: "Open Sans";
    font-size: 16px;
    color: #6f6f6f;
    padding: 30px 0px 12px 0px;
}

.commoncell2 {
    display: table-cell;
    font-family: "Open Sans";
    font-size: 16px;
    color: #6f6f6f;
    padding: 15px 0px 12px 0px;
}


.commoncell {
    display: table-cell;
    font-family: "Open Sans";
    font-size: 16px;
    color: #6f6f6f;
    padding: 20px 0px 20px 0px;
}

.intendspace {
    width: 10px;
}

.black12px {
    font-family: "Open Sans";
    font-size: 12px;
    color: #000000;
    font-weight: normal;
}

.black14px {
    font-family: "Open Sans";
    font-size: 14px;
    color: #000000;
    font-weight: normal;
}

.blackbold14px {
    font-family: "Open Sans";
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}


.blackbold16px {
    font-family: "Open Sans";
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.emailtxt {
    font-family: "Open Sans";
    font-size: 16px;
    color: #6f6f6f;
    font-weight: bold;
    text-decoration: none;
}


.blackbold12px {
    font-family: "Open Sans";
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}

.grey14px {
    font-family: "Open Sans";
    font-size: 14px;
    color: #6f6f6f;
    line-height: 1.5em;
}


.grey12px {
    font-family: "Open Sans";
    font-size: 12px;
    color: #6f6f6f;
    text-decoration: none;
}

.timeclassgrey12px {
    font-family: "Open Sans";
    font-size: 12px;
    color: #6f6f6f;
    line-height: 1.5em;
    display: table-cell;
    text-align: center;
    width: 30%;
}

.timerdivider {
    width: 20px;
    text-align: center;
}

.outboundheader {
    padding: 10px;
    background-color: #009cdf;
}



.white12px {
    font-family: "Open Sans";
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

.white16px {
    font-family: "Open Sans";
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

.commonblack12px {
    display: table-cell;
    font-family: "Open Sans";
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    padding: 0px 10px 5px 0px;
}


.bordertop2px {
    background-color: #d8d8d8;
    z-index: 1021;
    height: 4px;
    width: 55%;
    float: right;
    margin: 0px;
    padding: 0px;
    margin-bottom: -6px;
}




.commonblue12px {
    display: table-cell;
    font-family: "Open Sans";
    font-size: 14px;
    color: #009cdf;
    text-decoration: underline;
    padding: 0px 10px 0px 10px;
}

.commonblue12px2 {
    display: table-cell;
    font-family: "Open Sans";
    font-size: 14px;
    color: #009cdf;
    padding: 0px 10px 0px 10px;
}



.commoncell3 {
    display: table-cell;
    padding: 0px 10px 0px 10px;
}




.logostyle {
    /*border:solid 1px red;*/
    display: table-cell;
    padding: 12px 0 0px 22px;
}

.logostyle1 {
    /*border:solid 1px red;*/
    display: table-cell;
    padding-left: 20px;
    margin: 0px;
    padding: 0px;
    width: 16%;
    vertical-align: middle;
    text-align: right;
}

.topicons {
    position: relative;
    vertical-align: middle;
    text-align: right;
    padding: 0px;
    margin: 0px;
}


.iconstyle {
    vertical-align: middle;
    padding: 0px 7px 0px 12px; /*A-5453*/
    text-align: right;
}

    .iconstyle a img {
        border: none;
    }

.timeclass {
    width: 100%;
    display: table;
    position: relative;
}
/*column2*/

.blueheader {
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: bold;
    color: #009cdf;
    padding: 10px 0px 10px 0px;
}


.tableclass {
    margin-top: 5px;
    display: table;
}

.tablecellclass {
    display: table-cell;
    width: 30%;
    border: solid 1px #d8d8d8;
    padding: 2px 0px 2px 0px;
    text-align: center;
    color: #000000;
    font-weight: bold;
}

.paddingbottom5px {
    display: block;
    padding-bottom: 10px;
    padding-left: 5px;
}

.icontext {
    display: block;
    vertical-align: top;
    margin-top: 2px;
    margin-left: -5px;
    font-family: "Open Sans";
    font-size: 12px;
    color: #6f6f6f;
    text-decoration: none;
}

.spanicon {
    padding-left: 7px;
    vertical-align: top;
}

.inoutboundcontent {
    border: solid 1px #d8d8d8;
    padding: 10px 10px 10px 15px;
}



a {
    font-family: "Open Sans";
    font-size: 14px;
    color: #009cdf;
    text-decoration: underline;
}

.infotable {
    width: 98%;
    background-color: #fff2bf;
    padding: 10px;
    display: table-cell;
}

.infotableleftborder {
    width: 3px;
    display: table-cell;
    background-color: #ffd102;
}

.backtoflydubai {
    font-size: 12px;
    color: #009cdf;
    font-weight: bold;
    text-decoration: none;
}

.backtoflydubaiarrow {
    position: absolute;
    left: 21px;
    top: 43px;
}

/*--buttonclass--*/
.nextbutton {
    background-color: #ff8201;
    border: solid 1px #ff8201;
    -webkit-border-radius: 5px;
    moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    outline: none;
    cursor: pointer;
    font-family: "Open Sans";
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.greybuttonclass {
    background-color: #6f6f6f;
    border: solid 1px #6f6f6f;
    -webkit-border-radius: 5px;
    moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 10px 15px 10px 15px;
    outline: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}


.footer {
    width: 100%;
    /*background-color: #cccccc;*/
    color: black;
    font-size: 22px;
    text-align: left;
    padding: 0px 0px 14px 193px; /*A-5453*/
}


/*---combobox---*/

.selectParent {
    overflow: hidden;
}

    .selectParent select {
        width: 150px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        moz-border-radius: 5px;
        outline: none;
        border: solid 1px #d8d8d8;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 7px;
        background: url("../images/comboarrow.png") no-repeat right center;
        background-position: calc(100% - 10px);
    }




/*---combobox end---*/
.space10px {
    width: 50px;
    display: inline;
    border: solid 1px red;
    position: relative;
}


.headerexpanicon {
    background: url("../images/header_collapse.png") no-repeat left center;
    margin: 0px;
    width: 20px;
    padding-right: 10px;
    padding-bottom: 2px;
    vertical-align: top;
}

.headercollapseicon {
    background: url("../images/header_expand.png") no-repeat left center;
    margin: 0px;
    width: 20px;
    padding-right: 10px;
    padding-bottom: 2px;
    vertical-align: top;
}

.footer ul li {
    display: inline;
}

.image {
    float: left;
}

.number {
    float: right;
}

.footerolci ul{
    font-size: 8px;
    color: #6f6f6f;
}
.footerolci li a {
    font-family: "Open Sans";
    font-size: 13px;
    color: #6f6f6f;
    text-decoration: none;
}

.footerp {
    font-family: "Open Sans";
    font-size: 13px;
    color: #6f6f6f;
    text-decoration: none;
}

.footer .footerolci
{
    padding-bottom:0px;
}